*{
  background-color: rgba(82, 99, 143, 0.952);
  color: white;

}


  
.facts{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  align-content: space-around;
  
  border: solid;
}
  


h3{
  margin: 30px;

  
}

input{
  color: white;
  justify-content: space-around;
  background-color: black;
  height: 30px;
  font-size: 20px;
}

.activites{
  border: black solid;
  margin: 20px;
}

.removefacts{
    border-top-left-radius: 100em;
    border-top-right-radius: 100em;
    border-bottom-right-radius: 100em;
    border-bottom-left-radius: 100em;
    text-decoration: none;
    margin-left: 60px;
    background-color: black;
    font-size: 15px;
}
.create{
  margin-left: 25vw;
  margin-top: 10vh;
  justify-content: space-around;
  
}

.addfacts{
  border-top-left-radius: 100em;
  border-top-right-radius: 100em;
  border-bottom-right-radius: 100em;
  border-bottom-left-radius: 100em;
  text-decoration: none;
  margin-left: 30px;
  background-color: black;
  height: 30px;
  
}
.edit{
  margin-left: 50px;
  border-top-left-radius: 100em;
  border-top-right-radius: 100em;
  border-bottom-right-radius: 100em;
  border-bottom-left-radius: 100em;
  text-decoration: none;
  margin-left: 100px;
  background-color: black;
  font-size: 15px;
}